[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
ipdb = "*"
faker = "*"
flask-migrate = "*"
werkzeug = "*"
flask = "*"

[requires]
python_full_version = "*"
